@model IEnumerable<Utility.Accounts>
@foreach (var item in Model)
{
<div class="col-sm-6 col-md-3 pb-sm-30 mb-30">
    <div class="team-member bg-white-fa maxwidth400">
        <div class="thumb">
            <img class="img-fullwidth" src="@item.Image" alt="">
            <div class="info p-15 pb-10 text-center">
                <h3 class="name line-bottom-centered mb-15"><a href="page-doctors-details.html">Dr. @item.FirstName @item.LastName</a></h3>
                <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-20 mb-0">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                </ul>s
            </div>
        </div>
    </div>
</div>
}
