
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/WebLayout.cshtml";
}

<!-- Section: inner-header -->
<section class="inner-header divider parallax layer-overlay overlay-white-8" data-bg-img="~/images/bg/bg4.jpg">
    <div class="container pt-60 pb-60">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-left">
                    <h2 class="title">About</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: about -->
<section>
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <img class="img-fullwidth" src="~/images/about/p1.jpg" alt="">
                        </div>
                        <div class="col-md-6">
                            <h4 class="text-gray-darkgray text-uppercase mb-0">Welcome to</h4>
                            <h2 class="mt-0">MediZone Hospital Envato</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisi cing elit. Incidunt quasi tenetur perspiciatis deserunt provident autem neque est, reprehen derit.</p>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipis icing elit. Incidunt quasi tenetur pers piciatis deserunt provident autem neque est.</p>
                            <a class="btn-read-more font-13" href="#">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="bg-img-box maxwidth400 border-10px p-20">
                        <h5><i class="fa fa-clock-o text-theme-colored"></i> Opening Hours</h5>
                        <div class="opening-hours">
                            <ul class="list-unstyled">
                                <li class="clearfix">
                                    <span> Monday - Friday </span>
                                    <div class="value"> 9.00 - 20.00 </div>
                                </li>
                                <li class="clearfix">
                                    <span> Saturday </span>
                                    <div class="value"> 10.00 - 16.00 </div>
                                </li>
                                <li class="clearfix">
                                    <span> Sunday </span>
                                    <div class="value"> 9.30 - 18.00 </div>
                                </li>
                            </ul>
                        </div>
                        <a class="btn btn-gray btn-sm mt-30" data-toggle="modal" data-target="#BSParentModal" href="ajax-load/form-appointment.html">Request an appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Services -->
<section class="bg-lighter">
    <div class="container pb-10">
        <div class="section-title mb-30">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title mt-0 line-bottom">Our Services</h3>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row features-style1 text-center mt-20">
                <div class="col-sm-4">
                    <div class="icon-box left media p-0">
                        <a href="#" class="media-left pull-left flip"><i class="flaticon-medical-emergency text-theme-colored "></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Emergency Care</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box left media p-0">
                        <a href="#" class="media-left pull-left flip"><i class="flaticon-medical-operation4 text-theme-colored "></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Operation Theatre</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box left media p-0">
                        <a href="#" class="media-left pull-left flip"><i class="flaticon-medical-stethoscope text-theme-colored "></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Outdoor Checkup</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box left media p-0">
                        <a href="#" class="media-left pull-left flip"><i class="flaticon-medical-molecule16 text-theme-colored "></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Cancer Service</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box left media p-0">
                        <a href="#" class="media-left pull-left flip"><i class="flaticon-medical-blood8 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Blood Test</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="icon-box left media p-0">
                        <a href="#" class="media-left pull-left flip"><i class="flaticon-medical-tablets9 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h5 class="media-heading heading">Pharmacy</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Doctors -->
<section>
    <div class="container">
        <div class="section-title mb-0">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="title mt-0 line-bottom">Our Doctors</h3>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel-4col" data-nav="true">
                        <div class="item">
                            <div class="team-member maxwidth400">
                                <div class="thumb"><img alt="" src="~/images/team/team1.jpg" class="img-fullwidth"></div>
                                <div class="info">
                                    <h3 class="name"><a href="page-doctors-details.html">Dr. Jessica Tailor</a></h3>
                                    <h5 class="occupation text-gray">Radiation cancer specialist</h5>
                                    <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-0">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-member maxwidth400">
                                <div class="thumb"><img alt="" src="~/images/team/team2.jpg" class="img-fullwidth"></div>
                                <div class="info">
                                    <h3 class="name"><a href="page-doctors-details.html">Dr. Brian Adam</a></h3>
                                    <h5 class="occupation text-gray">Neurologist and epilepsy specialist</h5>
                                    <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-0">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-member maxwidth400">
                                <div class="thumb"><img alt="" src="~/images/team/team3.jpg" class="img-fullwidth"></div>
                                <div class="info">
                                    <h3 class="name"><a href="page-doctors-details.html">Dr. Linda Feldman</a></h3>
                                    <h5 class="occupation text-gray">Lung cancer specialist</h5>
                                    <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-0">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-member maxwidth400">
                                <div class="thumb"><img alt="" src="~/images/team/team4.jpg" class="img-fullwidth"></div>
                                <div class="info">
                                    <h3 class="name"><a href="page-doctors-details.html">Dr. Nicholas Fleming</a></h3>
                                    <h5 class="occupation text-gray">Physician assistant</h5>
                                    <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-0">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-member maxwidth400">
                                <div class="thumb"><img alt="" src="~/images/team/team2.jpg" class="img-fullwidth"></div>
                                <div class="info">
                                    <h3 class="name"><a href="page-doctors-details.html">Dr. Brian Adam</a></h3>
                                    <h5 class="occupation text-gray">Neurologist and epilepsy specialist</h5>
                                    <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-0">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="team-member maxwidth400">
                                <div class="thumb"><img alt="" src="~/images/team/team3.jpg" class="img-fullwidth"></div>
                                <div class="info">
                                    <h3 class="name"><a href="page-doctors-details.html">Dr. Linda Feldman</a></h3>
                                    <h5 class="occupation text-gray">Lung cancer specialist</h5>
                                    <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-10 mb-0">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Divider: Funfact -->
<section class="divider parallax layer-overlay overlay-white-6" data-bg-img="~/images/bg/bg4.jpg">
    <div class="container pt-20 pb-20">
        <div class="pt-40 pb-40">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <a href="#"> <i class="fa fa-calendar text-theme-colored font-36"></i></a>
                        <h5 class="animate-number font-36" data-value="8" data-animation-duration="2500">0</h5>
                        <p class="title">Years of Experience</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <a href="#"> <i class="fa fa-user text-theme-colored font-36"></i></a>
                        <h5 class="animate-number font-36" data-value="1921" data-animation-duration="2500">0</h5>
                        <p class="title">Patients treated per year</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <a href="#"> <i class="fa fa-globe text-theme-colored font-36"></i></a>
                        <h5 class="animate-number font-36" data-value="25" data-animation-duration="2500">0</h5>
                        <p class="title">Countries Worldwide</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
                    <div class="funfact text-center">
                        <a href="#"> <i class="fa fa-trophy text-theme-colored font-36"></i></a>
                        <h5 class="animate-number font-36" data-value="12" data-animation-duration="2500">0</h5>
                        <p class="title">Awards</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

