@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/WebLayout.cshtml";
}
<!-- Section: home -->
<section id="home">
    <div class="container-fluid p-0">

        <!-- Slider Revolution Start -->
        <div class="rev_slider_wrapper">
            <div class="rev_slider" data-version="5.0">
                <ul>

                    <!-- SLIDE 1 -->
                    <li data-index="rs-1" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/images/bg/bg4.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 1" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/bg/bg4.jpg" alt="" data-bgposition="center 20%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme text-uppercase bg-dark-transparent text-black-333 font-raleway pl-30 pr-30"
                             id="rs-1-layer-1"
                             data-x="['center']"
                             data-hoffset="['0']"
                             data-y="['middle']"
                             data-voffset="['-90']"
                             data-fontsize="['28']"
                             data-lineheight="['54']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap; font-weight:400; border-radius: 30px;">
                            Best Treatment here
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme text-uppercase bg-theme-colored-transparent text-white font-raleway pl-30 pr-30"
                             id="rs-1-layer-2"
                             data-x="['center']"
                             data-hoffset="['0']"
                             data-y="['middle']"
                             data-voffset="['-20']"
                             data-fontsize="['48']"
                             data-lineheight="['70']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap; font-weight:700; border-radius: 30px;">
                            Health care solution
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme text-black-555 text-center"
                             id="rs-1-layer-3"
                             data-x="['center']"
                             data-hoffset="['0']"
                             data-y="['middle']"
                             data-voffset="['50']"
                             data-fontsize="['16']"
                             data-lineheight="['28']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                            Every day we bring hope to millions of children in the world's<br>  hardest places as a sign of God's unconditional love.
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-resizeme"
                             id="rs-1-layer-4"
                             data-x="['center']"
                             data-hoffset="['0']"
                             data-y="['middle']"
                             data-voffset="['115']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                            <a class="btn btn-default btn-circled btn-dark btn-theme-colored btn-transparent pl-20 pr-20" href="/DoctorDetails/Seminar">About more</a>
                        </div>
                    </li>

                    <!-- SLIDE 2 -->
                    <li data-index="rs-2" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/images/bg/bg2.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 2" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/bg/bg2.jpg" alt="" data-bgposition="center 35%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme text-uppercase text-black-333 font-raleway"
                             id="rs-2-layer-1"
                             data-x="['left']"
                             data-hoffset="['30']"
                             data-y="['middle']"
                             data-voffset="['-110']"
                             data-fontsize="['83']"
                             data-lineheight="['120']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap; font-weight:700;">
                            Health Care
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pl-20 pr-20"
                             id="rs-2-layer-2"
                             data-x="['left']"
                             data-hoffset="['35']"
                             data-y="['middle']"
                             data-voffset="['-25']"
                             data-fontsize="['35']"
                             data-lineheight="['54']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap; font-weight:600; border-radius: 30px;">
                            One Stop Medical Solution
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme text-black-555 "
                             id="rs-2-layer-3"
                             data-x="['left']"
                             data-hoffset="['35']"
                             data-y="['middle']"
                             data-voffset="['40']"
                             data-fontsize="['16']"
                             data-lineheight="['28']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                            Every day we bring hope to millions of children in the world's<br>  hardest places as a sign of God's unconditional love.
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-resizeme"
                             id="rs-2-layer-4"
                             data-x="['left']"
                             data-hoffset="['35']"
                             data-y="['middle']"
                             data-voffset="['100']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; margin-top: 10px; white-space: nowrap; letter-spacing:1px;">
                            <a class="btn btn-colored btn-lg btn-theme-colored pl-20 pr-20" href="/DoctorDetails/HealthInformation">About more</a>
                        </div>
                    </li>

                    <!-- SLIDE 3 -->
                    <li data-index="rs-3" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="~/images/bg/bg1.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide 3" data-description="">
                        <!-- MAIN IMAGE -->
                        <img src="~/images/bg/bg1.jpg" alt="" data-bgposition="center 20%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-bgparallax="10" data-no-retina>
                        <!-- LAYERS -->
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption tp-resizeme text-uppercase text-white font-raleway bg-theme-colored-transparent pr-20 pl-20"
                             id="rs-3-layer-1"
                             data-x="['right']"
                             data-hoffset="['30']"
                             data-y="['middle']"
                             data-voffset="['-90']"
                             data-fontsize="['64']"
                             data-lineheight="['72']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap; font-weight:600;">
                            <span class="">Emergency</span>Case
                        </div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption tp-resizeme text-uppercase text-black-333 font-raleway"
                             id="rs-3-layer-2"
                             data-x="['right']"
                             data-hoffset="['35']"
                             data-y="['middle']"
                             data-voffset="['-25']"
                             data-fontsize="['32']"
                             data-lineheight="['54']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1000"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 7; white-space: nowrap; font-weight:600;">
                            24 Hours Medical Services
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption tp-resizeme text-black-555 text-right flip"
                             id="rs-3-layer-3"
                             data-x="['right']"
                             data-hoffset="['35']"
                             data-y="['middle']"
                             data-voffset="['30']"
                             data-fontsize="['16']"
                             data-lineheight="['28']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;s:500"
                             data-transform_in="y:100;scaleX:1;scaleY:1;opacity:0;"
                             data-transform_out="x:left(R);s:1000;e:Power3.easeIn;s:1000;e:Power3.easeIn;"
                             data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap; letter-spacing:0px; font-weight:400;">
                            Every day we bring hope to millions of children in the world's<br>  hardest places as a sign of God's unconditional love.
                        </div>

                        <!-- LAYER NR. 4 -->
                        <div class="tp-caption tp-resizeme"
                             id="rs-3-layer-4"
                             data-x="['right']"
                             data-hoffset="['35']"
                             data-y="['middle']"
                             data-voffset="['95']"
                             data-width="none"
                             data-height="none"
                             data-whitespace="nowrap"
                             data-transform_idle="o:1;"
                             data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                             data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                             data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
                             data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                             data-start="1400"
                             data-splitin="none"
                             data-splitout="none"
                             data-responsive_offset="on"
                             style="z-index: 5; white-space: nowrap; letter-spacing:1px;">
                            <a class="btn btn-colored btn-lg btn-flat btn-theme-colored pl-20 pr-20" href="/DoctorDetails/ContactUs">About more</a>
                        </div>
                    </li>

                </ul>
            </div>
            <!-- end .rev_slider -->
        </div>
        <!-- end .rev_slider_wrapper -->
        <script>
          $(document).ready(function(e) {
            $(".rev_slider").revolution({
              sliderType:"standard",
              sliderLayout: "auto",
              dottedOverlay: "none",
              delay: 5000,
              navigation: {
                  keyboardNavigation: "off",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation: "off",
                  onHoverStop: "off",
                  touch: {
                      touchenabled: "on",
                      swipe_threshold: 75,
                      swipe_min_touches: 1,
                      swipe_direction: "horizontal",
                      drag_block_vertical: false
                  },
                arrows: {
                  style:"zeus",
                  enable:true,
                  hide_onmobile:true,
                  hide_under:600,
                  hide_onleave:true,
                  hide_delay:200,
                  hide_delay_mobile:1200,
                  tmp:'<div class="tp-title-wrap">    <div class="tp-arr-imgholder"></div> </div>',
                  left: {
                    h_align:"left",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                  },
                  right: {
                    h_align:"right",
                    v_align:"center",
                    h_offset:30,
                    v_offset:0
                  }
                },
                bullets: {
                  enable:true,
                  hide_onmobile:true,
                  hide_under:600,
                  style:"metis",
                  hide_onleave:true,
                  hide_delay:200,
                  hide_delay_mobile:1200,
                  direction:"horizontal",
                  h_align:"center",
                  v_align:"bottom",
                  h_offset:0,
                  v_offset:30,
                  space:5,
                  tmp:'<span class="tp-bullet-img-wrap">  <span class="tp-bullet-image"></span></span><span class="tp-bullet-title">{{title}}</span>'
                }
              },
              responsiveLevels: [1240, 1024, 778],
              visibilityLevels: [1240, 1024, 778],
              gridwidth: [1170, 1024, 778, 480],
              gridheight: [700, 768, 960, 720],
              lazyType: "none",
              parallax: {
                  origo: "slidercenter",
                  speed: 1000,
                  levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 100, 55],
                  type: "scroll"
              },
              shadow: 0,
              spinner: "off",
              stopLoop: "on",
              stopAfterLoops: 0,
              stopAtSlide: -1,
              shuffle: "off",
              autoHeight: "off",
              fullScreenAutoWidth: "off",
              fullScreenAlignForce: "off",
              fullScreenOffsetContainer: "",
              fullScreenOffset: "0",
              hideThumbsOnMobile: "off",
              hideSliderAtLimit: 0,
              hideCaptionAtLimit: 0,
              hideAllCaptionAtLilmit: 0,
              debugMode: false,
              fallbacks: {
                  simplifyAll: "off",
                  nextSlideOnWindowFocus: "off",
                  disableFocusListener: false,
              }
            });
          });
        </script>
        <!-- Slider Revolution Ends -->

    </div>
</section>

<!-- Section: About -->
<section id="about">
    <div class="container pb-0">
        <div class="section-content">
            <div class="row equal-height-inner">
                <div class="col-sm-12 col-md-4 pr-0 pr-sm-15 sm-height-auto mt-sm-0" data-margin-top="-150px">
                    <div class="sm-height-auto" data-bg-img="~/images/pattern/p8.png">
                        <div class="p-30">
                            <h3 class="text-uppercase mt-0">Doctors<br><small>Meet Our Doctors</small></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas odit unde dolor inventore autem quod vero incidunt labore sunt reprehenderit consectetur inventore autem quod vero incidunt</p>
                            <a href="/DoctorDetails/Index" class="btn-read-more">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 pl-0 pl-sm-15 pr-0 pr-sm-15 sm-height-auto mt-sm-0" data-margin-top="-150px">
                    <div class="sm-height-auto bg-theme-colored">
                        <div class="p-30">
                            <h3 class="text-white text-uppercase mt-0">Opening Hours</h3>
                            <div class="opening-hours">
                                <ul class="list-unstyled text-white">
                                    <li class="clearfix">
                                        <span> Monday - Friday </span>
                                        <div class="value"> 9.00 - 20.00 </div>
                                    </li>
                                    <li class="clearfix">
                                        <span> Saturday </span>
                                        <div class="value"> 10.00 - 16.00 </div>
                                    </li>
                                    <li class="clearfix">
                                        <span> Sunday </span>
                                        <div class="value"> 9.30 - 18.00 </div>
                                    </li>
                                </ul>
                            </div>
                            <a class="btn btn-read-more text-gray-lighter mt-20" data-toggle="modal" data-target="#BSParentModal" href="#">Request an appointment</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 pl-0 pl-sm-15 sm-height-auto mt-sm-0" data-margin-top="-150px">
                    <div class="sm-height-auto" data-bg-img="~/images/pattern/p8.png">
                        <div class="p-30">
                            <h3 class="text-uppercase mt-0">Emergency Case <br><small>Quick Help</small></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas odit unde dolor inventore autem quod vero incidunt labore sunt reprehenderit consectetur inventore autem quod vero incidunt</p>
                            <a href="/DoctorDetails/ContactUs" class="btn-read-more">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Services -->
<section id="services">
    <div class="container pb-30">
        <div class="section-content">
            <div class="row multi-row-clearfix features-style1">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box left media">
                        <a href="#" class="media-left pull-left flip"><i class="flaticon-medical-blood8 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h4 class="media-heading heading">Emergency Care</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt <a href="#">read more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box left media">
                        <a href="#" class="media-left pull-left flip"><i class="flaticon-medical-blood9 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h4 class="media-heading heading">Operation Theatre</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt <a href="#">read more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box left media">
                        <a href="#" class="media-left pull-left flip"><i class="flaticon-medical-broken29 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h4 class="media-heading heading">Outdoor Checkup</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt <a href="#">read more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box left media">
                        <a href="#" class="media-left pull-left flip"><i class="flaticon-medical-caduceus3 text-theme-colored"></i></a>
                        <div class="media-body">
                            <h4 class="media-heading heading">Cancer Service</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt <a href="#">read more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box left media">
                        <a href="#" class="media-left pull-left flip"><i class="flaticon-medical-biology text-theme-colored"></i></a>
                        <div class="media-body">
                            <h4 class="media-heading heading">Blood Test</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt <a href="#">read more</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="icon-box left media">
                        <a href="#" class="media-left pull-left flip"><i class="flaticon-medical-pill text-theme-colored"></i></a>
                        <div class="media-body">
                            <h4 class="media-heading heading">Pharmacy</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum consectetur sit ullam perspiciatis, deserunt <a href="#">read more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Departments  -->
<section id="depertments" class="bg-lighter">
    <div class="container pb-30">
        <div class="section-title">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="subtitle ml-10 m-0">Best Medical Services</h5>
                    <h2 class="title mt-0 ml-10 text-uppercase">Our <span class="text-theme-colored font-weight-400">Depertments</span><span class="text-theme-colored">.</span></h2>
                    <div class="icon">
                        <i class="fa fa-hospital-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                    <img class="img-fullwidth" alt="" src="~/images/depertments/s1.jpg">
                    <h4>Blood Department</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, hic.</p>
                    <a href="#" class="btn-read-more font-13">Read more</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                    <img class="img-fullwidth" alt="" src="~/images/depertments/s2.jpg">
                    <h4>Liver Transplant</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, hic.</p>
                    <a href="#" class="btn-read-more font-13">Read more</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                    <img class="img-fullwidth" alt="" src="~/images/depertments/s3.jpg">
                    <h4>General Internal Medicine</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, hic.</p>
                    <a href="#" class="btn-read-more font-13">Read more</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                    <img class="img-fullwidth" alt="" src="~/images/depertments/s4.jpg">
                    <h4>Oral Surgery</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, hic.</p>
                    <a href="#" class="btn-read-more font-13">Read more</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                    <img class="img-fullwidth" alt="" src="~/images/depertments/s6.jpg">
                    <h4>Surgical Oncology</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, hic.</p>
                    <a href="#" class="btn-read-more font-13">Read more</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                    <img class="img-fullwidth" alt="" src="~/images/depertments/s5.jpg">
                    <h4>Pulmonary Function Lab</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, hic.</p>
                    <a href="#" class="btn-read-more font-13">Read more</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                    <img class="img-fullwidth" alt="" src="~/images/depertments/s7.jpg">
                    <h4>Nuclear Cardiology</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, hic.</p>
                    <a href="#" class="btn-read-more font-13">Read more</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 mb-30">
                    <img class="img-fullwidth" alt="" src="~/images/depertments/s8.jpg">
                    <h4>Supportive Care and Survivorship</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, hic.</p>
                    <a href="#" class="btn-read-more font-13">Read more</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: team -->
<section id="team">
    <div class="container pb-30">
        <div class="section-title">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="subtitle ml-10 m-0">Best Medical Services</h5>
                    <h2 class="title mt-0 ml-10 text-uppercase">Meet Our <span class="text-theme-colored font-weight-400">Doctors</span><span class="text-theme-colored">.</span></h2>
                    <div class="icon">
                        <i class="fa fa-hospital-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-sm-6 col-md-3 mb-30">
                    <div class="team-member bg-white-fa maxwidth400">
                        <div class="thumb">
                            <img class="img-fullwidth" src="~/images/team/team1.jpg" alt="">
                            <div class="info p-15 pb-10 text-center">
                                <h3 class="name m-0"><a href="#" class="">Jacob Doe</a></h3>
                                <h5 class="occupation font-13 font-weight-400 text-gray letter-space-1 line-bottom-centered mt-0">Neurologist</h5>
                                <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-20 mb-0">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-30">
                    <div class="team-member bg-white-fa maxwidth400">
                        <div class="thumb">
                            <img class="img-fullwidth" src="~/images/team/team2.jpg" alt="">
                            <div class="info p-15 pb-10 text-center">
                                <h3 class="name m-0"><a href="#" class="">Jacob Doe</a></h3>
                                <h5 class="occupation font-13 font-weight-400 text-gray letter-space-1 line-bottom-centered mt-0">Neurologist</h5>
                                <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-20 mb-0">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-30">
                    <div class="team-member bg-white-fa maxwidth400">
                        <div class="thumb">
                            <img class="img-fullwidth" src="~/images/team/team3.jpg" alt="">
                            <div class="info p-15 pb-10 text-center">
                                <h3 class="name m-0"><a href="#" class="">Jacob Doe</a></h3>
                                <h5 class="occupation font-13 font-weight-400 text-gray letter-space-1 line-bottom-centered mt-0">Neurologist</h5>
                                <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-20 mb-0">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-30">
                    <div class="team-member bg-white-fa maxwidth400">
                        <div class="thumb">
                            <img class="img-fullwidth" src="~/images/team/team4.jpg" alt="">
                            <div class="info p-15 pb-10 text-center">
                                <h3 class="name m-0"><a href="#" class="">Jacob Doe</a></h3>
                                <h5 class="occupation font-13 font-weight-400 text-gray letter-space-1 line-bottom-centered mt-0">Neurologist</h5>
                                <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-20 mb-0">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-3 mb-30">
                    <div class="team-member bg-white-fa maxwidth400">
                        <div class="thumb">
                            <img class="img-fullwidth" src="~/images/team/team1.jpg" alt="">
                            <div class="info p-15 pb-10 text-center">
                                <h3 class="name m-0"><a href="#" class="">Jacob Doe</a></h3>
                                <h5 class="occupation font-13 font-weight-400 text-gray letter-space-1 line-bottom-centered mt-0">Neurologist</h5>
                                <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-20 mb-0">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-30">
                    <div class="team-member bg-white-fa maxwidth400">
                        <div class="thumb">
                            <img class="img-fullwidth" src="~/images/team/team2.jpg" alt="">
                            <div class="info p-15 pb-10 text-center">
                                <h3 class="name m-0"><a href="#" class="">Jacob Doe</a></h3>
                                <h5 class="occupation font-13 font-weight-400 text-gray letter-space-1 line-bottom-centered mt-0">Neurologist</h5>
                                <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-20 mb-0">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-30">
                    <div class="team-member bg-white-fa maxwidth400">
                        <div class="thumb">
                            <img class="img-fullwidth" src="~/images/team/team3.jpg" alt="">
                            <div class="info p-15 pb-10 text-center">
                                <h3 class="name m-0"><a href="#" class="">Jacob Doe</a></h3>
                                <h5 class="occupation font-13 font-weight-400 text-gray letter-space-1 line-bottom-centered mt-0">Neurologist</h5>
                                <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-20 mb-0">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 mb-30">
                    <div class="team-member bg-white-fa maxwidth400">
                        <div class="thumb">
                            <img class="img-fullwidth" src="~/images/team/team4.jpg" alt="">
                            <div class="info p-15 pb-10 text-center">
                                <h3 class="name m-0"><a href="#" class="">Jacob Doe</a></h3>
                                <h5 class="occupation font-13 font-weight-400 text-gray letter-space-1 line-bottom-centered mt-0">Neurologist</h5>
                                <ul class="styled-icons icon-theme-colored icon-circled icon-dark icon-sm mt-20 mb-0">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Call to Action -->
<section class="divider parallax layer-overlay overlay-white-6" data-bg-img="~/images/bg/bg13.jpg">
    <div class="container">
        <div class="call-to-action sm-text-center p-0">
            <div class="row">
                <div class="col-sm-8">
                    <h2 class="font-22">For Emergency Case, Please Contact Us</h2>
                    <p class="">Alienum phaedrum torquatos nec eu, vis detraxit periculis ex.</p>
                </div>
                <div class="col-sm-4 text-center">
                    <a class="btn btn-gray btn-circled btn-lg mt-30" href="/DoctorDetails/ContactUs">Contact With Us</a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Pricing List  -->
<section>
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
                    <h3 class="title mt-0 mb-30 line-bottom">Treatments</h3>
                    <ul class="list-border-bottom no-padding">
                        <li>
                            <h5>Colonoscopy <span class="pull-right flip font-weight-400 pr-20">$220</span></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quas ullam perferendis facilis <a class="text-theme-colored font-13" href="#"> read more</a></p>
                        </li>
                        <li>
                            <h5>Colonoscopy <span class="pull-right flip font-weight-400 pr-20">$220</span></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quas ullam perferendis facilis <a class="text-theme-colored font-13" href="#"> read more</a></p>
                        </li>
                        <li>
                            <h5>Colonoscopy <span class="pull-right flip font-weight-400 pr-20">$220</span></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quas ullam perferendis facilis <a class="text-theme-colored font-13" href="#"> read more</a></p>
                        </li>
                    </ul>
                    <a class="text-theme-colored font-weight-600 font-13" href="#">See All List →</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
                    <h3 class="title mt-0 mb-30 line-bottom">Laboratory Tests</h3>
                    <ul class="list-border-bottom no-padding">
                        <li>
                            <h5>Colonoscopy <span class="pull-right flip font-weight-400 pr-20">$220</span></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quas ullam perferendis facilis <a class="text-theme-colored font-13" href="#"> read more</a></p>
                        </li>
                        <li>
                            <h5>Colonoscopy <span class="pull-right flip font-weight-400 pr-20">$220</span></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quas ullam perferendis facilis <a class="text-theme-colored font-13" href="#"> read more</a></p>
                        </li>
                        <li>
                            <h5>Colonoscopy <span class="pull-right flip font-weight-400 pr-20">$220</span></h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis quas ullam perferendis facilis <a class="text-theme-colored font-13" href="#"> read more</a></p>
                        </li>
                    </ul>
                    <a class="text-theme-colored font-weight-600 font-13" href="#">See All List →</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 pb-sm-20">
                    <div class="border-10px p-30 pt-10 pb-10">
                        <h5><i class="fa fa-pencil-square-o text-theme-colored"></i> Need Help?</h5>

                        <!-- Appontment Form Starts -->
                        <form id="appointment_form_at_home" name="appointment_form_at_home" class="" method="post" action="http://kodesolution.website/html/html/health-beauty/medical/medizone-html/v2.0/demo/includes/appointment.php">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group mb-10">
                                        <input name="form_name" class="form-control" type="text" required="" placeholder="Enter Name" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mb-10">
                                        <input name="form_email" class="form-control required email" type="email" placeholder="Enter Email" aria-required="true">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group mb-10">
                                        <input name="form_appontment_date" class="form-control required date-picker" type="text" placeholder="Appoinment Date" aria-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-10">
                                <textarea name="form_message" class="form-control required" placeholder="Enter Message" rows="2" aria-required="true"></textarea>
                            </div>
                            <div class="form-group mb-0 mt-20">
                                <input name="form_botcheck" class="form-control" type="hidden" value="">
                                <button type="submit" class="btn btn-dark btn-theme-colored" data-loading-text="Please wait...">Send Message</button>
                            </div>
                        </form>

                        <!-- Appointment Form Validation-->
                        <script type="text/javascript">
                            $("#appointment_form_at_home").validate({
                                submitHandler: function (form) {
                                    var form_btn = $(form).find('button[type="submit"]');
                                    var form_result_div = '#form-result';
                                    $(form_result_div).remove();
                                    form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                                    var form_btn_old_msg = form_btn.html();
                                    form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                                    $(form).ajaxSubmit({
                                        dataType: 'json',
                                        success: function (data) {
                                            if (data.status == 'true') {
                                                $(form).find('.form-control').val('');
                                            }
                                            form_btn.prop('disabled', false).html(form_btn_old_msg);
                                            $(form_result_div).html(data.message).fadeIn('slow');
                                            setTimeout(function () { $(form_result_div).fadeOut('slow') }, 6000);
                                        }
                                    });
                                }
                            });
                        </script>
                        <!-- Appontment Form Ends -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Divider: Funfact -->
<section class="divider parallax layer-overlay overlay-white-6" data-bg-img="~/images/bg/bg5.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 mb-sm-50">
                <div class="funfact text-center">
                    <h5 class="animate-number font-36" data-value="8" data-animation-duration="2500">0</h5>
                    <p class="title font-16">Years of Experience</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-sm-50">
                <div class="funfact text-center">
                    <h5 class="animate-number font-36" data-value="1921" data-animation-duration="2500">0</h5>
                    <p class="title font-16">Patients treated per year</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-sm-50">
                <div class="funfact text-center">
                    <h5 class="animate-number font-36" data-value="25" data-animation-duration="2500">0</h5>
                    <p class="title font-16">Countries Worldwide</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 mb-sm-50">
                <div class="funfact text-center">
                    <h5 class="animate-number font-36" data-value="12" data-animation-duration="2500">0</h5>
                    <p class="title font-16">Awards</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Section: Blog -->
<section id="blog">
    <div class="container pb-30">
        <div class="section-title">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="subtitle ml-10 m-0">Best Medical Services</h5>
                    <h2 class="title mt-0 ml-10 text-uppercase">Latest <span class="text-theme-colored font-weight-400">News</span><span class="text-theme-colored">.</span></h2>
                    <div class="icon">
                        <i class="fa fa-hospital-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 mb-30">
                    <article class="post media-post clearfix">
                        <a class="post-thumb mb-0" href="#"><img src="~/images/blog/ln1.jpg" alt=""></a>
                        <div class="post-right">
                            <h4 class="post-title mt-0 mb-0"><a class="text-black-333 font-16 font-weight-500" href="#">Sustainable Construction</a></h4>
                            <p class="post-date mb-0 font-13 text-gray">- Mar 08, 2015</p>
                            <p class="mt-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-30">
                    <article class="post media-post clearfix">
                        <a class="post-thumb mb-0" href="#"><img src="~/images/blog/ln2.jpg" alt=""></a>
                        <div class="post-right">
                            <h4 class="post-title mt-0 mb-0"><a class="text-black-333 font-16 font-weight-500" href="#">Sustainable Construction</a></h4>
                            <p class="post-date mb-0 font-13 text-gray">- Mar 08, 2015</p>
                            <p class="mt-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-30">
                    <article class="post media-post clearfix">
                        <a class="post-thumb mb-0" href="#"><img src="~/images/blog/ln3.jpg" alt=""></a>
                        <div class="post-right">
                            <h4 class="post-title mt-0 mb-0"><a class="text-black-333 font-16 font-weight-500" href="#">Sustainable Construction</a></h4>
                            <p class="post-date mb-0 font-13 text-gray">- Mar 08, 2015</p>
                            <p class="mt-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-30">
                    <article class="post media-post clearfix">
                        <a class="post-thumb mb-0" href="#"><img src="~/images/blog/ln4.jpg" alt=""></a>
                        <div class="post-right">
                            <h4 class="post-title mt-0 mb-0"><a class="text-black-333 font-16 font-weight-500" href="#">Sustainable Construction</a></h4>
                            <p class="post-date mb-0 font-13 text-gray">- Mar 08, 2015</p>
                            <p class="mt-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-30">
                    <article class="post media-post clearfix">
                        <a class="post-thumb mb-0" href="#"><img src="~/images/blog/ln5.jpg" alt=""></a>
                        <div class="post-right">
                            <h4 class="post-title mt-0 mb-0"><a class="text-black-333 font-16 font-weight-500" href="#">Sustainable Construction</a></h4>
                            <p class="post-date mb-0 font-13 text-gray">- Mar 08, 2015</p>
                            <p class="mt-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </article>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 mb-30">
                    <article class="post media-post clearfix">
                        <a class="post-thumb mb-0" href="#"><img src="~/images/blog/ln6.jpg" alt=""></a>
                        <div class="post-right">
                            <h4 class="post-title mt-0 mb-0"><a class="text-black-333 font-16 font-weight-500" href="#">Sustainable Construction</a></h4>
                            <p class="post-date mb-0 font-13 text-gray">- Mar 08, 2015</p>
                            <p class="mt-5 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>